build/CMakeCache.txt
build/cmake_install.cmake
bin/Linux/main
build/cmake_install.cmake
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-0ffcd7d039efbbe2009a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c335756f255dc8c4e8a5.json
build/.cmake/api/v1/reply/cache-v2-716be2b486edccf625a6.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5766cd3505fe052f82d3.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c335756f255dc8c4e8a5.json
build/.cmake/api/v1/reply/codemodel-v2-4b8211a62a59f94878c0.json
build/.cmake/api/v1/reply/codemodel-v2-5e5c2f820a9201d75ddf.json
build/.cmake/api/v1/reply/index-2024-01-02T21-34-43-0658.json
build/.cmake/api/v1/reply/index-2024-01-03T00-32-54-0547.json
build/.cmake/api/v1/reply/target-main-Debug-59cd3f47ee328e132135.json
build/.cmake/api/v1/reply/target-main-Debug-f94a38355311e95a2f58.json
build/.cmake/api/v1/reply/cache-v2-716be2b486edccf625a6.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c335756f255dc8c4e8a5.json
build/.cmake/api/v1/reply/codemodel-v2-4b8211a62a59f94878c0.json
build/.cmake/api/v1/reply/index-2024-01-02T21-34-43-0658.json
build/.cmake/api/v1/reply/target-main-Debug-f94a38355311e95a2f58.json
bin/Linux/main
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/compiler_depend.internal
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/src/glad.c.o
build/CMakeFiles/main.dir/src/glad.c.o.d
build/CMakeFiles/main.dir/src/main.cpp.o
build/CMakeFiles/main.dir/src/main.cpp.o.d
build/CMakeFiles/main.dir/src/textrendering.cpp.o
build/CMakeFiles/main.dir/src/textrendering.cpp.o.d
build/CMakeFiles/run.dir/build.make
